<section class="sections">
  <div id="admin-create-news">
    <create-news-form></create-news-form>
  </div>
  <div>
    <div id="admin-update-news">
      <update-news-form></update-news-form>
    </div>
    <div id="admin-modify-news">
      <modify-news-table></modify-news-table>
    </div>
  </div>
</section>
