<section id="showcase" class="sections">
  <iframe class="trailer" src="https://www.youtube.com/embed/K0JwHzIXu68" 
    width="840" 
    height="500" 
    frameborder="0" 
    allow="autoplay; encrypted-media" 
    allowfullscreen>
  </iframe>
  <div class="side-bar">
    <iframe class="steam-widget" src="https://store.steampowered.com/widget/818610/"></iframe>
    <iframe class="bandcamp-widget" src="https://bandcamp.com/EmbeddedPlayer/album=3182079143/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/" seamless>
      <a href="http://horizonsend.bandcamp.com/album/the-great-gaias-original-soundtrack">The Great Gaias - Original Soundtrack by Bryan Davis &amp; Aaron Krogh</a>
    </iframe>
  </div>
</section>
<section id="news" class="sections">
  <news-app></news-app>
</section>
<section id="media" class="sections">
  <figure id="atrius" class="media-item">
    <img src="http://www.horizonsend.com/images/horizons-end_the-great-gaias_character-atrius.jpg" alt="Concept art of the character Atrius Althorand from The Great Gaias">
    <figcaption class="media-caption">
      <h3>Atrius Althorand</h3>
      <p>Atrius is the last blood of the respected and affluent House Althorand. The course of his life changed dramatically during his childhood when his parents were killed by a destitute vagrant at the end of his rope. Since then Atrius has taken care of his younger sister Elaenia. Atrius trained himself and eventually became a master of the art of thievery and assassination. Ultimately he founded the Orgard Thieves Guild where he became Pots' employer and closest confidant.</p>
    </figcaption>
  </figure>
  <figure id="agramed" class="media-item">
    <img src="http://www.horizonsend.com/images/horizons-end_the-great-gaias_character-agramed.jpg" alt="Concept art of the character Agramed from The Great Gaias">
    <figcaption class="media-caption">
      <h3>Agramed</h3>
      <p>Agramed Oslo was one of the greatest General's that the Osirian Empire had ever seen. He was condemned as a traitor after being framed for the attempted murder of Chieftain Moreth, he became the Osirian Gladiator Champion for four years.</p>
    </figcaption>
  </figure>
  <figure id="furi" class="media-item">
    <img src="http://www.horizonsend.com/images/horizons-end_the-great-gaias_character-furi.jpg" alt="Concept art of the character Furi Stormcrow from The Great Gaias">
    <figcaption class="media-caption">
      <h3>Furi Stormcrow</h3>
      <p>Furi Stormcrow is the Keeper of Magic's daughter. It is said that she is a natural when dealing with magic. She is the same age as Pots, who's father is also on the council, so they were familar while growing up. Furi has a reputation for being ostentatious and cocksure. She is proud and feels her time shouldn't be wasted on those without magical talent.</p>
    </figcaption>
  </figure>
  <figure id="griswold" class="media-item">
    <img src="http://www.horizonsend.com/images/horizons-end_the-great-gaias_character-griswold.jpg" alt="Concept art of the character Griswold Stormprey from The Great Gaias">
    <figcaption class="media-caption">
      <h3>Griswold Stormprey</h3>
      <p>Griswold Stormprey has been a practitioner of the arts of healing magic for over fifty years, and has achieved such titles as Master of the Adept and Keeper of Storms. He is one of the highest ranks within the Circle of Twelve, the High Order of Magi. Upon receiving a premonition, Griswold came to Orgard to save the Children of Light. Griswold believes he is the reborn soul of Arman Gill, Cleric of Tantalasia.</p>
    </figcaption>
  </figure>
  <figure id="virgil" class="media-item">
    <img src="http://www.horizonsend.com/images/horizons-end_the-great-gaias_character-virgil.jpg" alt="Concept art of the character Virgil Dal'Laman Mythos from The Great Gaias">
    <figcaption class="media-caption">
      <h3>Virgil Dal'Laman Mythos</h3>
      <p>Virgil Dal'Laman Mythos was born in a small village south of the Solisteri Forest. Never being considered strong or very handsome, he began his quiet study of magic. Over the years Virgil became quite adept at sorcery, to the horror of his village. After a great tragedy, Virgil began his quest to learn great magic.</p>
    </figcaption>
  </figure>
  <figure id="elric" class="media-item">
    <img src="http://www.horizonsend.com/images/horizons-end_the-great-gaias_character-elric.jpg" alt="Concept art of the character Elric Yore from The Great Gaias">
    <figcaption class="media-caption">
      <h3>Elric Yore</h3>
      <p>Elric Yore hails from Sovereign, the city of knights. His father was the Keeper of the Sword before he succumbed to fever. Elric has since left from his long held place as a Knight of Sovereign to follow his own path. He is most skillful in the tracking and hunting of beasts in the wild, and having giving up his title and land after his Father's death, he has taken on the role of Ranger.</p>
    </figcaption>
  </figure>
  <figure id="eldromus" class="media-item">
    <img src="http://www.horizonsend.com/images/horizons-end_the-great-gaias_character-eldromus.jpg" alt="Concept art of the character Eldromus Blackheart from The Great Gaias">
    <figcaption class="media-caption">
      <h3>Eldromus Blackheart</h3>
      <p>Born Eldromus Cortlabar of the land of Validus. Eldromus grew up with Arthur Greyhem, and they both became Generals in the Validian Empire. The two became renowned for their displays of loyalty and honor toward the Empire, and each other. However, when Arman Gill finally convinced Arthur Greyhem to rebel against Validus, Eldromus turned against Arthur and the Silver Army, earning himself the heinous sobriquet The Betrayer. The Elven Lorac Cael Vaeili cursed Eldromus causing him to walk the land forever until 'justice is done'.</p>
    </figcaption>
  </figure>
  <figure id="bruger" class="media-item">
    <img src="http://www.horizonsend.com/images/horizons-end_the-great-gaias_character-bruger.jpg" alt="Concept art of the character Bruger Ironhelm from The Great Gaias">
    <figcaption class="media-caption">
      <h3>Bruger Ironhelm</h3>
      <p>Bruger Ironhelm is a young Dwarf from the Plains of Zaardun, home to the barbarian hoards. Though it's known that all Dwarves hail from the Grand Halls of Frosthammer, the untimely death of his father left Bruger alone. The mighty barbarian tribe Kuruk discovered Bruger one day and took the dwarf in as one of their own.</p>
    </figcaption>
  </figure>
  <figure id="kaelas" class="media-item">
    <img src="http://www.horizonsend.com/images/horizons-end_the-great-gaias_character-kaelas.jpg" alt="Concept art of the character Kaelas Tangralas from The Great Gaias">
    <figcaption class="media-caption">
      <h3>Kaelas Tangralas</h3>
      <p>Kaelas Tangralas is Elf-kin from the woodland realms of the Drakkenwood. His study of nature magic has provided him extroadinary abilities which allow him to transform into certain animals at will, and call upon nature's elements to vanquish his foes. In Drakkenwood he is considered a Druid of the highest regard.</p>
    </figcaption>
  </figure>
  <figure id="pots" class="media-item">
    <img src="http://www.horizonsend.com/images/horizons-end_the-great-gaias_character-pots.jpg" alt="Concept art of the character Pots Talos from The Great Gaias">
    <figcaption class="media-caption">
      <h3>Pots Talos</h3>
      <p>Pots Talos is the son of the Keeper of Truth, second highest esteem next to the Keeper of Magic. Pots possesses no magical talent. A shame to his Father, he instead turned to the ways of the Rogue, and makes his living working for the Orgard Thieves guild.</p>
    </figcaption>
  </figure>
  <figure id="laeni" class="media-item">
    <img src="http://www.horizonsend.com/images/horizons-end_the-great-gaias_character-laeni.jpg" alt="Concept art of the character Elaenia Althorand from The Great Gaias">
    <figcaption class="media-caption">
      <h3>Elaenia Althorand</h3>
      <p>Elaenia of the House Althorand, or Laeni as she likes to be called, was orphaned when she was a young girl; her parents both being the victims of a poverty related crime. Raised by her brother Atrius, Laeni became a gifted healer and a charming pub girl in Orgard. She has feelings for Pots, but she is reluctant to act on them as he is her brother's best friend.</p>
    </figcaption>
  </figure>
  <figure id="wein" class="media-item">
    <img src="http://www.horizonsend.com/images/horizons-end_the-great-gaias_character-wein.jpg" alt="Concept art of the character Wein Beranedyn from The Great Gaias">
    <figcaption class="media-caption">
      <h3>Lord Wein Beranedyn</h3>
      <p>Lord Wein Beranedyn was the Knight's Captain of Sovereign United and Champion of the Lance. Based on a premonition that came to him in the form of a dream Wein Beranedyn resigned his commission and travelled south to meet the Children of Light. It is said that Wein is the reborn soul of Arthur Greyhem, the King of Kings.</p>
    </figcaption>
  </figure>
</section>