body {
  background: #222;
}
header{
  display: none;
}

#register-form {
  width: 375px;
  margin: 50px auto 239px auto;
  text-align: center;
}

#register-form img {
  margin-bottom: 25px;
}

#register-form input {
  width: 100%;
  height: 40px;
  margin: 0 0 10px 0;
  padding: 0 10px;
  color: white;
  background: #111;
  border-radius: 0;
  border: 1px solid #333;
}

#register-form button {
  width: 100%;
  height: 40px;
  background: darkred;
  color: white;
  border: none;
  cursor: pointer;
  border: 1px solid firebrick;
}

#register-form button:hover {
  background: firebrick;
}

#register-form a {
  color: gray;
  display: block;
  margin-top: 20px;
}

#footer {
  background: #222;
}